body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9; /* Color de fondo más claro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1400px; /* Aumenta el ancho máximo del contenedor */
  padding: 250px;
  display: flex; /* Alineación horizontal */
  gap: 10px; /* Espacio entre el formulario y los botones de redes sociales */
}

.form-container {
  flex: 3; /* Ocupa más espacio disponible */
  background: #ffffff; /* Color del formulario */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  padding: 40px; /* Aumenta el padding interno */
  max-width: 800px; /* Establece un ancho máximo */
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px; /* Espacio entre campos */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px; /* Aumenta el padding interno de los campos */
  margin-bottom: 20px; /* Espacio entre los campos */
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 16px; /* Aumenta el padding interno de los botones */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}

.register-btn {
  background-color: #007bff; /* Color azul más moderno */
  color: #ffffff;
}

.login-btn {
  background-color: #6c757d; /* Color gris para botón de inicio de sesión */
  color: #ffffff;
  margin-top: 10px; /* Espacio entre los botones */
}

.social-login {
  flex: 1; /* Ocupa el espacio restante */
  display: flex;
  flex-direction: column; /* Alinea los botones verticalmente */
  gap: 15px; /* Espacio entre los botones de redes sociales */
}

.social-button {
  padding: 14px; /* Aumenta el padding interno de los botones sociales */
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-button:hover {
  transform: translateY(-2px);
}

/* Colores específicos para cada red social */
.google {
  background-color: #db4a39; /* Color de fondo de Google */
  border: 1px solid #db4a39; /* Borde del botón */
}

.apple {
  background-color: #000000; /* Color de fondo de Apple */
  border: 1px solid #000000; /* Borde del botón */
}

.facebook {
  background-color: #3b5998; /* Color de fondo de Facebook */
  border: 1px solid #3b5998; /* Borde del botón */
}
