.biblioteca-de-archivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Tamaño de la card */
    margin: 80px auto 20px; /* Espacio desde la Navbar y margen inferior */
  }
  
  .upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Tamaño del botón */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px; /* Ancho máximo del botón */
  }
  
  .file-list {
    width: 100%;
  }
  
  .file-item {
    background-color: #ffffff;
    padding: 12px; /* Espacio interno de los items de archivo */
    margin: 5px 0;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde sutil */
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  .delete-button {
    background: none;
    border: none;
    color: #dc3545; /* Color de la "X" */
    font-size: 18px; /* Tamaño de la "X" */
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  }
  
  .delete-button:hover {
    color: #c82333; /* Color de hover */
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
  }
  
  .delete-button:active {
    color: #a71d2a; /* Color al hacer clic */
  }
  
  .upload-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px; /* Tamaño del formulario */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  
  input[type="text"],
  input[type="file"],
  select {
    width: 100%;
    padding: 10px; /* Espacio interno de los inputs */
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .submit-button, .cancel-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Tamaño de los botones */
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 5px; /* Espacio entre los botones */
  }
  
  .cancel-button {
    background-color: #dc3545; /* Color del botón de cancelar */
  }
  