.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.payment-form {
  background-color: #1b2a41;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 70%; /* Ahora ocupa el 70% del ancho */
  width: 100%;
  color: white;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #d1d1d1;
}

.payment-form input[type="text"],
.payment-form input[type="checkbox"] {
  width: 100%;
  padding: 15px; /* Aumentamos el padding para hacer los campos más grandes */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.payment-form input[type="text"]::placeholder {
  color: #bbb;
}

.payment-form button {
  width: 100%;
  padding: 15px;
  background-color: #4cafb1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem; /* Botón más grande */
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #3a9d9b;
}

.payment-form p {
  font-size: 1rem;
  text-align: center;
  color: #ccc;
  margin-top: 20px;
}

.payment-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.payment-form label[for="saveCard"] {
  display: inline;
  color: #d1d1d1;
}
