.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Fondo gris claro para un diseño moderno */
    color: #333; /* Color de texto oscuro para buen contraste */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
    border-bottom: 1px solid #e0e0e0; /* Línea sutil en la parte inferior */
}

.navbar .logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #007bff; /* Color azul para los enlaces */
    text-decoration: none;
    font-weight: 500; /* Un poco de negrita para los enlaces */
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    font-size: 16px; /* Tamaño de fuente consistente */
}

.nav-links a:hover {
    color: #0056b3; /* Azul más oscuro al pasar el ratón */
    background-color: #e2e6ea; /* Fondo gris muy claro al pasar el ratón */
    transform: translateY(-2px); /* Efecto sutil de desplazamiento */
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px; /* Tamaño fijo para los botones */
    text-align: center;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    font-size: 16px; /* Tamaño de fuente consistente */
}

.login-btn {
    background-color: blue; /* Fondo blanco para el botón de registrarse */
    width: 180px;
    margin: 0;
    height: 40px;
}

.login-btn:hover {
    background-color: #e9ecef; /* Gris claro al pasar el ratón */
    color: #0056b3; /* Texto azul más oscuro al pasar el ratón */
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */

}

.register-btn {
    background-color: #e9ecef; /* Gris claro al pasar el ratón */
    color: #0056b3; /* Texto azul más oscuro al pasar el ratón */
    width: 180px;
    height: 40px;
}

.register-btn:hover {
    background-color: blue; /* Fondo blanco para el botón de registrarse */
    color: #e9ecef; /* Texto azul para contraste */   
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .auth-buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .auth-buttons a {
        width: auto;
    }
}