.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
}

.navbar .logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    padding: 12px 12px;
    border-radius: 0;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

.nav-links a:hover {
    color: #0056b3;
    background-color: #e2e6ea;
    transform: translateY(-2px);
}

/* Botones de autenticación */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a, .auth-buttons button {
    text-decoration: none;
    padding: 10px 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px; /* Tamaño fijo para ambos botones */
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    height: 40px; /* Altura igual para ambos */
    margin: 0;
    background-color: blue;
    color: white;
}

.auth-buttons button {
    border: none; /* Quitar el borde del botón */
    cursor: pointer;
}

.auth-buttons a:hover, .auth-buttons button:hover {
    background-color: #e9ecef;
    color: #0056b3;
    transform: scale(1.05);
}

.logout-btn, .profile-btn {
    margin: 0;
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .auth-buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .auth-buttons a {
        width: auto;
    }
}
