/* Contenedor principal de la página de perfil */
.profile-container {
  display: flex;
  padding: 0px;
  background-color: #f4f6f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Barra lateral del perfil */
.profile-sidebar {
  width: 250px;
  padding-right: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.profile-avatar {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-sidebar h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.profile-sidebar p {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
}

.subscription-info {
  color: #28a745;
  font-weight: bold;
}

.delete-user-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.delete-user-button:hover {
  background-color: #c82333;
}

/* Detalles del perfil */
.profile-details {
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Fila de información */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Ajustar el botón de editar para que esté alineado a la derecha y más pequeño */
.edit-button {
  padding: 4px 8px;
  font-size: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

.info-text {
  margin-right: 10px;
}

.info-text p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .edit-button {
    align-self: flex-start;
  }
}